@mixin hotSnakesOuter {
	position: absolute;
	width: 500px;
	text-align: center;
	top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@mixin hotSnakesInner {
	border-width: 6px;
	border-style: solid;
	width: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 36px 0;
	font-family: $collegiate;
	font-size: 112px;
}

// media breakpoints

@mixin bp($size) {
	@if ($size == 'sml') {
		@media (max-width: 570px) { 
			@content; 
		}
	}

	@if ($size == 'med') {
		@media (max-width: 680px) { 
			@content; 
		}
	}
 
	@if $size == 'lrg' {
		@media (max-width: 750px) { 
			@content; 
		}
	}
}
